html {
	height: 100%;
}
body {
	height: 100%;
	background-color: rgb(210, 233, 233);
	color: black;
}
nav {
	padding: 10px 0px 10px 3px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

.image{
	height: 200px;
	width: 200px;
}

.listaFavLink {
	cursor: pointer;
}

footer {
	padding: 50px 0px 25px 10px;
	background-color: red;
	color: blue;
	position: fixed;
	overflow: hidden;
  	bottom: 0;
  	width: 100%;
   	color: white;
  	text-align: center;
}

.slideshow {
	/* max-height: 500px;
	max-width: 700px; */
	position: relative;
	display: inline-block;
	left: 32%;
}
.btnStyle {
	display: inline-block;
	position: relative;
	height: 45%;
	width: 100px;
}
.slideData {
	display: inline-block;
}
.slideData > span {
	display: block;
	padding-top: 10px;
}

.holder {
	height: 500px;
	width: 700px;
}

.boxes {
	height: 100px;
	padding-top: 70px;
	text-align: center;
	position: relative;
}

.material-icons {
	cursor: pointer;
	top: 29%;
	left: 17px;
	font-size: 66px;
	position: absolute;
	user-select: none;
	transition: 0.2s;
}

.material-icons:hover {
	top: 28%;
	font-size: 70px;
	transition: 0.2s;
}

.adapt-input {
	width: 75%;
}

.boxes a {
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	background-color: green;
	transition: 0.3s;
	position: absolute;
	right: 2;
	left: 2;
}

.header .underline {
	padding: 1px;
	background-color: greenyellow;
	transition: 0.3s;
	position: absolute;
	right: 130;
	left: 130;
	bottom: 0;
	visibility: hidden;
}

a:hover .underline {
	padding: 3px;
	border-radius: 0px 0px 5px 5px;
	background-color: yellow;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	visibility: visible;
}

.boxes a:hover {
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	background-color: greenyellow;
	position: absolute;
	right: 2;
	left: 2;
}
.detalhesDiv {
	box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 33%;
}
.musicaWiki {
	float: left;
	width: 100%;
	margin-top: 0px;
	position: absolute;

	top: -55px;
	padding-left: 80%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.flagPT {
	width: 60px;
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	/* justify-content: normal;
	align-items: normal;
	align-content: normal; */
}
.flex-container > div {
	border-radius: 5px;
	cursor: pointer;
	background-color: #f1f1f1;
	border: 2px solid green;
	width: 150px;
	margin: 45px;
	text-align: center;
	line-height: 20px;
	display: block;
	/* flex-grow: 0; */
	/* flex-shrink: 1; */
	/* flex-basis: auto; */
	/* align-self: auto; */
}
.flex-container > div:hover {
	/* background-color: #e9b6b6; */
	background-color: green;
	border: 2px solid green;
	color: white;
	transition: 0.2s;
}

.listFav {
	column-count: 3;
	column-gap: 40px;
}
.imgTrack {
	position: relative;
	text-align: left;
	width: 25%;
	left: 25px;
	height: auto;
}

.detalhesTrack {
	position: relative;
	text-align: center;
}

@media only screen and (max-width: 575px) {
	.boxes {
		height: 50px;
		padding-top: 20px;
		text-align: center;
	}
}
