html {
	height: 100%;
}
body {
	height: 100%;
	/* background-color: black;
	color: white; */
}
nav {
	padding: 10px 0px 10px 3px;
	background-color: red;
	color: blue;
}

footer {
	padding: 50px 0px 25px 10px;
	background-color: red;
	color: blue;
}

a {
	color: white;
	text-decoration: none;
}

.slideshow {
	/* max-height: 500px;
	max-width: 700px; */
	position: relative;
	display: inline-block;
}
.btnStyle {
	display: inline-block;
	position: relative;
	height: 45%;
	width: 100px;
}
.slideData {
	display: inline-block;
}
.slideData > span {
	display: block;
	padding-top: 10px;
}

.holder {
	height: 500px;
	width: 700px;
}

.flagPT {
	width: 100px;
}
